@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

body{
  background: linear-gradient(to top, rgba(6, 82, 221,1.0), 1%,rgba(236, 240, 241,1.0));
  text-align: justify;
  font-family: 'Dosis', sans-serif;;
}

/*Diseño de los botones sin estar activos*/
.btn-default {
    color: #1854a8;
    background-color: #ffffff;
    border-color: #ffffff;
}
/*Diseño de los botones para que tengan el mismo color que al presionarlos*/
.btn-default:hover{
  color:#ffffff;
  background-color: #14398f !important;
  border-color: #4a4540 !important;
}

/*Aquí cambiamos el color del menú desplegable para ocultar el código*/
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{
  text-decoration:none;
  color:#ffffff !important;
  background-color:#3758a6 !important;
}


/*Modificar el color de las letras*/
/*a {
  color: #1854a8;
}*/

